/*Reset Completo*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    color: aliceblue;
    transition: all 0.3s ease;
}
body{
    overflow-x: hidden;
}
/*geral*/
h2{
    background: linear-gradient(45deg, #8A2BE2, #6a0dad, #36005d);
    width: 20vh;
    line-height: 5vh;
    min-height: 5vh;

    margin: 10vh 0 50px 0;
    margin-top: 10rem;
    border-radius: 10px;

    position: relative;
    z-index: 1;

    text-align: center;

    animation: fade-In 0.3s ease-in forwards;
}
article{ /*cartões*/
    animation: fade-In 0.3s ease-in forwards;

    margin-top: 3dvh;
    padding: 3vh 3rem;
    width: 50vw;
    background-color: #1C1C1E;
    border-radius: 10px;
    box-shadow: 3px 3px 13px #3f016c;
    
    text-align: justify;
}
p{
    animation: fade-In 0.3s ease-in forwards;
}
div.odeioFlexbox{ /*Para o título de algumas seções*/
    display: flex;
    justify-content: center;
}
body::-webkit-scrollbar {/*Pra tirar a barra de scroll*/
    display: none
}
/*Fundo*/
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(45deg, #000000, #000000, #4B0082);
    background-attachment: fixed;
    z-index: -1;
}
/*Navbar*/
#Header{ /*Para centralizar o cabeçalho*/
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    z-index: 1000;
    width: 50vw;
    
    padding: 1.5rem 6rem;
    background: linear-gradient(45deg, #8A2BE2, #6a0dad, #36005d);
    box-shadow: 5px 8px 13px #3f016c;
    
    animation: fadeOutDownMenu 0.4s ease-out forwards;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar li{
    display: flex;
    margin-inline: 2rem;
    flex-wrap: nowrap;
    
    font-size: 1.3rem;
    list-style: none;
    letter-spacing: 3px;
    font-weight: bold;

    animation: fadeOutDownMenu 0.4s ease-out forwards;
    opacity: 0;
}

/*âncoras*/
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.6;
}
/*Início*/
section#início{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    animation: fade-In 0.3s ease-in forwards;
}
img.logoPrincipal{
    max-width: 20vw;
    margin-top: 10vh;
}
h1{
    margin-top: 2vh;
    font-size: 3rem;
    margin-bottom: 2vh;
}
/*Introdução*/
section#introducao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;

    animation: fade-In 0.3s ease-in forwards;
}
img#turma{
    max-width: 500px;
    margin-left: -4vw;

}

/*Sobre*/
section#sobre{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 5rem;
}

.alinhaQuadrado{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.retangulo{/*Configurações dos retângulos*/
    background-color: #1C1C1E;
    box-shadow: 3px 3px 13px #3f016c;

    padding: 2vh 3rem;
    width: 30vh;
    border-radius: 10px;
    text-align: center;

    animation: slideInLeft 0.5s ease forwards;
}
.quadrado{/*Configurações dos quadrados*/
    
    background-color: #1C1C1E;
    box-shadow: 3px 3px 13px #3f016c;
    
    padding: 3vh 3rem;
    width: 30vh;
    border-radius: 10px;
    text-align: center;
    
    animation: slideInRight 0.5s ease forwards;
    
}
#insta{
    color: #7E57C2;
}

/*Seção das redes sociais*/

section#redes{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
article.social{
    max-width: 20vw;
    margin-bottom: 50vh;
}
article.social#animaçãoparaDireita{
    animation: slideInRight 1s ease forwards;
}
article.social#animaçãoparaEsquerda{
    animation: slideInLeft 1s ease forwards;
}

/*Rodapé*/
footer{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap-reverse;
    flex: auto;
    
    background: linear-gradient(45deg, #8A2BE2, #6a0dad, #36005d);
    box-shadow: 3px -8px 13px #3f016c;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    max-height: 15vh;
    padding: 0rem 6rem;

    animation: fade-In 0.3s ease-in forwards;
}

div#footer, #pFooter{
    display: flex;
    align-items: center;
    height:9rem;
    padding: 0 3rem;
}
img#Mascote{
    max-height: 70vh;
    max-width: 20vw;
    z-index: 2000;
}

/*Ajustes de responsividade*/
@media screen and (max-width:720px) {
    .navbar li{
        font-size: 0.5rem;
    }
    Footer{
        flex-wrap: nowrap;
    }
    #resposividade{
        display: none;
    }
    img#turma{
        max-width: 300px;
        margin-left: -40px;
    }
    section{
        flex-direction: column;
        gap: 0rem;
    }
    .quadrado{
        margin-left: 2rem;
    }

    article.social{
        margin-bottom: 5vh;
        max-width: 60vw;
    }
    article.social#animaçãoparaEsquerda{
        margin-left: -4rem;
    }
    section#redes{
        align-items: center;
        gap: 0rem;
    }
}




 /* Animations */
    @keyframes fade-In {
        from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDownMenu {
    from {
        opacity: 0;
        transform: translateY(-5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}@keyframes slideInLeft {
    from {
        transform: translateX(-90%);
        opacity: 0;
    }
    to {
        transform: translateX(10%);
        opacity: 1;
    }
}

